#wrapper_1 {
    
    height: 100px;
    float: left;
    width: 100px;
    margin-left: 8px;
  }
  /* #wrapper_1::after {
    content: "";
    background-color: #000;
    /* position: absolute; */
    /* width: 5px;
    height: 200px;
    left: 50%;
    display: block;
    margin-left: 200px;
    border-left: 1px solid black; */
  /* } */ 